<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="google-style-container">
    <!-- Logo -->
      <div class="app-info">
        <h1 class="app-title">ClimaJá 🌤️</h1>
        <p class="app-subtitle">Previsão do Tempo!</p>
      </div>

<!-- Barra de Pesquisa -->
        <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="floating">Digite o nome da cidade:</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="cidade"
        (ionInput)="onSearchInput($event)"
        (keyup)="onKeyPress($event)"
      ></ion-input>
    </ion-item>

    <ion-list *ngIf="sugestoes.length > 0">
      <ion-item *ngFor="let sugestao of sugestoes" (click)="selecionarSugestao(sugestao)">
        {{ sugestao }}
      </ion-item>
    </ion-list>

    <app-current-weather [climaAtual]="climaAtual" (definirLocalizacao)="definirLocalizacaoAtual($event)"></app-current-weather>
  </ion-content>

    <!-- Estado de Erro -->
    <div *ngIf="erro" class="glass-card error-state">
      <div class="error-icon">⚠️</div>
      <h3>Erro ao carregar os dados</h3>
      <p>{{ erro }}</p>
      <ion-button fill="clear" (click)="buscarClima()">
        Tentar Novamente!
      </ion-button>
    </div>
  </div>

  <!-- Loading -->
  <div *ngIf="carregando" class="loading-container">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
